{% extends "layout.njk" %}

{% block pagina %}

<h1>Músicas	da	minha	Playlist</h1>
    <table	class="table	table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Artista</th>
                <th>Estrelas</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
            {% for music in musics %}
                <tr>
                    <td>1</td>
                    <td>{{music.nome}}</td>
                    <td>{{music.artista}}</td>
                    <td>
                        {% for i in range(0, music.estrelas) -%}
                            <span	class="glyphicon	glyphicon-star"></span>
                        {%- endfor %}
                    </td>
                    <td>
                            <a	href="/edit/{{music._id}}"	class="btn	btn-primary">Editar</a>
                            <a	href="/delete/{{music._id}}" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock	%}