{%	extends	"layout.njk" %}  

{% block pagina %}
    {% if numero %}
        <h1>Taboada do {{numero}}</h1>

        {% for i in [0,1,2,3,4,5,6,7,8,9,10] %}

            <p>{{numero}} X {{i}} = <b>{{numero * i}}</b></p>

        {% endfor %}
    {% else %}

        <p>O número {{valor}} não é par :(</p>
    {% endif %}

{%	endblock %}